# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=KROVACOIN Core Daemon SNAP
Comment=main
GenericName=KROVACOIN Digital Currency Daemon Client main network
Exec=krovacoin-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/krovacoin.png
MimeType=x-scheme-handler/krov;
Categories=X-Office;X-Finance;
Keywords=internet;krovacoin;zpiv;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
