# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=KROVACOIN Core
Comment=KROVACOIN Core QT main network
GenericName=KROVACOIN Digital Currency QT client main network
Exec=krovacoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/krovacoin.png
MimeType=x-scheme-handler/krovacoin;
Categories=X-Office;X-Finance;
Keywords=internet;krovacoin;zpiv;krov;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
