# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=KROVACOIN Core
Comment=KROVACOIN Core QT test network
GenericName=KROVACOIN Digital Currency QT client testnet network
Exec=krovacoin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/krovacoin_testnet.png
MimeType=x-scheme-handler/krov;
Categories=X-Office;X-Finance;
Keywords=internet;krovacoin;zpiv;tpiv;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
